@model ErecrTest.Models.Candidat

@{
    ViewData["Title"] = "Create";
}



<h1>Candidat</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post">
                <fieldset>
                    
                    <div class="row">
                       
                    <div>
                        <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div>
                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                    </div>
                        <div>
                            <label for="exampleInputNom" class="form-label mt-4">First mame</label>
                            <input type="nom" class="form-control" id="exampleInputNom" placeholder="Nom" autocomplete="off">
                        </div>
                        <div>
                            <label for="exampleInputPrenom" class="form-label mt-4">Last name</label>
                            <input type="prenom" class="form-control" id="exampleInputPrenom" placeholder="Prenom" autocomplete="off">
                        </div>
                        <div>
                            <label for="exampleInputTel" class="form-label mt-4">Tel</label>
                            <input type="tel" class="form-control" id="exampleInputTel" placeholder="Tel" autocomplete="off">
                        </div>
                        <div>
                           <label for="exampleInputAge" class="form-label mt-4">Age</label>
                           <input type="age" class="form-control" id="exampleInputAge" placeholder="Age" autocomplete="off">
                       </div>
                        <div>
                            <label for="exampleInputDiplôme" class="form-label mt-4">Diploma</label>
                            <input type="diplôme" class="form-control" id="exampleInputDiplôme" placeholder="Diplôme" autocomplete="off">
                        </div>
                        <div>
                            <label for="exampleInputNombre" class="form-label mt-4">
                                Years of experience
                            </label>
                            <input type="nombre" class="form-control" id="exampleInputNombre" placeholder="Nombre" autocomplete="off">
                        </div>
                                   
                                   
                    <div>
                            <label for="exampleTitre" class="form-label mt-4">Professional title</label>
                        <select class="form-select" id="exampleTitre">
                                <option>Engineer</option>
                                <option>Project Manager</option>
                                <option>HR Manager</option>
                                <option>GIS Specialist</option>
                                <option>Network Administrator</option>
                                <option>Data Scientist</option>
                                <option>Communications Officer</option>
                                <option>Consultant</option>

                        </select>
                    </div>
                   
                    <div>
                            <label for="exampleTextarea" class="form-label mt-4">Tell us about yourself</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div>
                        <label for="formFile" class="form-label mt-4">Your CV</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <fieldset>
                        <legend class="mt-4">Sexe</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            <label class="form-check-label" for="optionsRadios1">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            <label class="form-check-label" for="optionsRadios2">
                                Female
                            </label>
                        </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                <label class="form-check-label" for="optionsRadios2">
                                    Other
                                </label>
                            </div>
                        
                    
                    </fieldset>
                    <fieldset>
                            <legend class="mt-4">Languages</legend>
                        <label for="customRange1" class="form-label">Arabic</label>
                        <input type="range" class="form-range" id="customRange1">
                            <label for="customRange2" class="form-label">English</label>
                            <input type="range" class="form-range" id="customRange2">
                        <label for="customRange3" class="form-label">Frensh</label>
                            <input type="range" class="form-range" id="customRange3">
            
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
            </form>
            </<div>
                </div>
        <div class="d-grid gap-2">
            
            <a asp-action="Index">Back to List</a>
        </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
           

}
