@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "How to Apply";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-info text-white text-center">
            <h2>📝 How to Apply for a Job</h2>
        </div>
        <div class="card-body">
            <p class="lead">Follow these simple steps to apply for a job:</p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">🔍 Browse available job listings</li>
                <li class="list-group-item">📄 Click on a job to see the details</li>
                <li class="list-group-item">📂 Upload your CV and fill out your application</li>
                <li class="list-group-item">📩 Submit your application and wait for recruiter feedback</li>
            </ol>
        </div>
        <div class="card-footer text-center">

            <a href="/Offres/Index" class="btn btn-success">View Job Offers</a>

          

        </div>
    </div>
</div>
